In [2]:
import pandas as pd

/var/folders/1q/ttq7y9792hl1j72br9_w4vzw0000gn/T/ipykernel_8906/4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [3]:
df = pd.read_csv("./dataset/Database.csv")

In [4]:
display(df)

,Author,Journal,Year,Site country,Location,Latitude,Longitude,Soil information recorded in the paper,pH (surface layer),Replications in experiment,...,Outlier of NT,Sowing month,Harvesting month,P,E,PB,Tave,Tmax,Tmin,ST
0,Aase et al.,Soil & Tillage Research,1997,USA,"Montana, Froid",48.28,-105.10,sandy loam,,3,...,NaN,9,8,395.800000,534.828000,-139.028,5.03333,24.798600,-20.095680,Loam
1,Aase et al.,Soil & Tillage Research,1997,USA,"Montana, Froid",48.28,-105.10,sandy loam,,3,...,NaN,9,8,260.300000,590.273000,-329.973,5.79167,29.191860,-21.602860,Loam
2,Aase et al.,Soil & Tillage Research,1997,USA,"Montana, Froid",48.28,-105.10,sandy loam,,3,...,NaN,9,8,397.300000,555.260000,-157.960,6.86667,29.487280,-16.195720,Loam
3,Acharya,Soil & Tillage Research,2019,USA,"Bossier City, Louisiana",32.42,-93.64,sandy loam,6.6,3,...,NaN,6,10,511.900005,546.686888,-34.787,26.16000,35.331630,14.984884,Loam
4,Acharya,Soil & Tillage Research,2019,USA,"Bossier City, Louisiana",32.42,-93.64,sandy loam,6.6,3,...,NaN,6,10,475.099997,511.402611,-36.303,24.96000,34.272689,13.003511,Loam
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4398,Zugec,Soil & Tillage Research,1986,Croatia,Fericanci,45.53,17.98,available,4.8,4,...,NaN,4,10,584.800000,437.793000,147.007,15.00000,26.143220,3.250900,Loam
4399,Zugec,Soil & Tillage Research,1986,Croatia,Fericanci,45.53,17.98,available,4.8,4,...,NaN,4,10,524.000000,484.803000,39.197,16.25714,26.767580,4.045250,Loam
4400,Zugec,Soil & Tillage Research,1986,Croatia,Osijek,45.55,18.69,available,5.3 to 6.4,4,...,NaN,4,10,533.100000,443.249000,89.851,15.75714,26.233920,3.628730,Loam
4401,Zugec,Soil & Tillage Research,1986,Croatia,Osijek,45.55,18.69,available,5.3 to 6.4,4,...,NaN,4,10,507.200000,488.113000,19.087,17.00000,27.076650,4.489370,Loam
4402,Zugec,Soil & Tillage Research,1986,Croatia,Osijek,45.55,18.69,available,5.3 to 6.4,4,...,NaN,4,10,374.500000,483.660000,-109.160,17.30000,26.919080,3.412560,Loam

In [5]:
display(df["Crop"].unique())

array(['wheat.winter', 'soybean', 'rice', 'maize', 'barley.winter',
       'sorghum', 'barley.spring', 'wheat.spring', 'cotton', 'sunflower'],
      dtype=object)

In [1]:
import numpy as np
import statsmodels.api as sm

# Data
X = np.random.rand(100, 2)  # Variabel independen (2 fitur)
y = np.random.rand(100)      # Variabel dependen

# Menambahkan kolom konstan untuk intercept
X = sm.add_constant(X)

# Membuat model regresi linear
model = sm.OLS(y, X).fit()

# Melakukan ANOVA
anova_results = sm.stats.anova_lm(model)

# Output hasil
print(anova_results)

AttributeError: 'ModelData' object has no attribute 'design_info'